.bodyy {
  font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
  font-size: 16px;
  line-height: 32px;
  color: #222222;
  background-color: rgb(228, 181, 95);
}

.imgState {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.h1State {
  text-align: center;
  color: #4f7e04;
}

.block1 {
  text-align: left;
  text-transform: uppercase;
  line-height: 10px;
  letter-spacing: 3px;
  word-spacing: 5px;
  text-indent: 50px;
  text-shadow: 1px 1px 2px #4f7e04;
  margin-top: 10px;
  border-style: groove;
  border-radius: 50px;
  border-color: #4f7e04;
  border-width: 4px;
}

.block2 {
  text-align: left;
  line-height: 20px;
  letter-spacing: 3px;
  word-spacing: 5px;
  text-shadow: 1px 1px 2px #4f7e04;
  margin-top: 10px;
}

.block3 {
  text-align: left;
  line-height: 20px;
  letter-spacing: 3px;
  word-spacing: 5px;
  text-shadow: 1px 1px 2px #4f7e04;
  margin-top: 10px;
}

.block4 {
  text-align: left;
  line-height: 20px;
  letter-spacing: 3px;
  word-spacing: 5px;
  text-shadow: 1px 1px 2px #4f7e04;
  margin-top: 10px;
}

.back {
  border-color: #3498db;
  color: #fff;
  box-shadow: 0 0 40px 40px #e29609 inset, 0 0 0 0 #e29609;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}

.back:hover {
  box-shadow: 0 0 10px 0 #e29609 inset, 0 0 10px 4px #e29609;
}

.btn {
  box-sizing: border-box;
  appearance: none;
  background-color: transparent;
  border: 2px solid #e74c3c;
  border-radius: 0.6em;
  color: #e74c3c;
  cursor: pointer;
  align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin: 20px;
  padding: 1.2em 2.8em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

a {
  color: #ca200d;
  text-decoration: none;
}
